! urxvt
!Xft.dpi: 92
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.autohint: 1
Xft.rgba: rgb
Xft.antialias: 1

/* urL-yanking */
URxvt.perl-ext-common: default,url-select,resize-font

URxvt.colorUL: #98971a
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.keysym.M-u: perl:url-select:select_next

/* Needs to be disabled for C-S keybindings to work */
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.urgentOnBell: true
URxvt.cursorBlink: false
URxvt.transparent: false
URxvt.shading:          20
URxvt.scrollBar:        false
URxvt.saveLines:        4096
URxvt.mouseWheelScrollPage: true

ratmenu.style: dreary
ratmenu.font: fixed
ratmenu.bgcolor: #222222
ratmenu.fgcolor: #99ff00

URxvt.borderless: true
URxvt.geometry: 120x40

/* Colors */

/* dzen2 */
dzen2.font: xft:M+ 1m regular:size=11

! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #282828, #a89984, #a89984
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #282828, #ebdbb2, #32302f, #665c54, #fbf1c7
rofi.color-active: #d79921, #282828, #d79921, #fabd2f, #282828
rofi.color-urgent: #cc241d, #282828, #cc241d, #fb4934, #282828

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 0
rofi.fake-transparency: false
rofi.location: 0
rofi.width: 50
rofi.font: Hasklig 12
rofi.lines: 15
rofi.fixed-num-lines: true

/* fonts */
URxvt.font:	     xft:Input Mono:style=Regular:size=11
URxvt.boldFont:      xft:Input Mono:style=Bold:size=11
URxvt.italicFont:    xft:Input Mono:style=Italic:size=11


! special
urxvt.background: #101010
urxvt.foreground: #D2C5BC
*.cursorColor: #93a1a1

! black
*.color0: #5f5f5f
*.color8: #828282

! red
*.color1: #d96468
*.color9: #d98f93

! green
*.color2: #a2d964
*.color10: #b8d98f

! yellow
*.color3: #d9c964
*.color11: #d9cf8f

! blue
*.color4: #64a2d9
*.color12: #8f99d9

! magenta
*.color5: #9a64d9
*.color13: #b08fd9

! cyan
*.color6: #64d9d5
*.color14: #8fd9d5

! white
*.color7: #989898
*.color15: #c5c5c5
